@using TestTaskApp.WEB.Models;

@model ImageEditViewModel

<h2>Change the image</h2>
@using (Html.BeginForm("Edit", "Image", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id);
    <div class="form-group">
        <div class="col-md-12">
            <input id="file" name="file" type="file" accept="image/jpeg" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" class="btn btn-default" value="Change" />
        </div>
        <div class="col-md-2">
            @Ajax.ActionLink("Cancel", "Edit", "UserProfile", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "dataConteiner" },
                new { @class = "btn btn-default" })
        </div>
    </div>
}



